{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Твои задачи!</h1>
            <p>Жизнь - это весело. Но жизнь также и занята. Есть миллион разных вещей, которые ты мог бы делать. Но важно то, что ты делаешь. Мы создали Todo Woo, чтобы помочь вам разобраться во всех ваших возможностях и жить той жизнью, которая для вас важнее всего. Вас ждет новая организованная жизнь.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Начнем ?!</a>
        </div>
    </div>

{% endblock %}
